.stats-page {
  background: var(--dark-grey);
  height: 100%;
}

.stats-page-container {
  position: absolute;
  margin-top: 2.6rem;
  padding: 0.3rem;
  height: calc(100vh - 2.6rem);
  display: flex;
}

.test {
  background: var(--light-grey);
  height: 100%;
  width: 221px;
  margin-left: 0.3rem;
  border-radius: var(--border-radius);
}
