.video-container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.bg-video {
  width: 1400px;
  margin-left: 30%;
}

@media screen and (max-width: 800px) {
  .bg-video {
    margin-top: 15rem;
    margin-left: 0;
    width: 1000px;
  }
}

@media screen and (max-width: 450px) {
  .bg-video {
    margin-top: 18rem;
    margin-left: -5rem;
    width: 800px;
  }
}
