:root {
  --main-color: white;
  --sub-color: #336699;
  --shadow-color: rgba(51, 51, 51, 0.3);
  --danger-color: #dc3545;
  --success-color: #17a2b8;
  --box-shadow: 1px 1px 5px var(--shadow-color);
  --border-radius: 0.6rem;
  --transparent-sub-color: rgba(51, 102, 153, 0.1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 0;
}

.App {
  height: 100vh;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
}

a {
  text-decoration: none;
  color: var(--main-color);
}

ul {
  list-style: none;
}

@media only screen and (max-width: 600px) {
}
